createdAt: "2020-09-10T11:10:04.272Z"
updatedAt: "2020-09-12T17:05:55.619Z"
type: "MARKDOWN_NOTE"
folder: "908887bc17d3585507b5"
title: "Dev Tools"
tags: []
content: '''
  # Dev Tools
  ---
  ##### Clever Programmer
  
  [Clever Programmer - Portfolio Video](https://www.loom.com/share/b01d377652cf48e2bb390d9387db651a)
  
  [GitHub - CleverProgrammers/react-portfolio](https://github.com/CleverProgrammers/react-portfolio)
  
  ### Sites
  ---
  [GitHub](https://github.com/)
  [Netlify App](https://app.netlify.com/teams/mhughart/sites)
  [Google Domains](https://domains.google.com/registrar/rabisudesign.com#)
  [Google Firebase](https://console.firebase.google.com/?pli=1)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
isPinned: true
