createdAt: "2020-09-12T02:05:50.594Z"
updatedAt: "2020-09-12T02:06:03.203Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "Spotify Clone"
tags: []
content: '''
  # Spotify Clone
  ---
  ## Build List
'''
linesHighlighted: []
isStarred: false
isTrashed: false
