createdAt: "2020-09-12T02:13:07.767Z"
updatedAt: "2020-09-21T11:34:41.344Z"
type: "MARKDOWN_NOTE"
folder: "25d4b570c35107313468"
title: "Basics"
tags: []
content: '''
  # Basics
  ---
  ##### 
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
