createdAt: "2020-09-10T03:02:05.636Z"
updatedAt: "2020-09-10T10:36:09.800Z"
type: "MARKDOWN_NOTE"
folder: "085c87f86fd3bc6d1d2b"
title: "Guides"
tags: []
content: '''
  Guides
  ---
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
