createdAt: "2020-09-12T02:07:56.475Z"
updatedAt: "2020-09-12T02:08:15.966Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "Covid-19 Tracker"
tags: []
content: '''
  # Covid-19 Tracker
  ---
  ## Build List
'''
linesHighlighted: []
isStarred: false
isTrashed: false
