createdAt: "2020-09-10T00:17:20.166Z"
updatedAt: "2020-09-10T03:00:41.257Z"
type: "MARKDOWN_NOTE"
folder: "085c87f86fd3bc6d1d2b"
title: ""
tags: [
  "ReactJS"
  "JavaScript"
]
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
