createdAt: "2020-09-10T00:16:45.015Z"
updatedAt: "2020-09-10T00:16:45.015Z"
type: "SNIPPET_NOTE"
folder: "40f98fa2d867d5ea49d3"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
