createdAt: "2020-09-10T00:14:35.066Z"
updatedAt: "2020-09-12T17:42:23.833Z"
type: "SNIPPET_NOTE"
folder: "085c87f86fd3bc6d1d2b"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
