createdAt: "2020-09-21T01:10:14.007Z"
updatedAt: "2020-09-21T01:10:14.007Z"
type: "MARKDOWN_NOTE"
folder: "085c87f86fd3bc6d1d2b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
