createdAt: "2020-09-12T02:11:42.838Z"
updatedAt: "2020-09-12T02:12:20.050Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "Amazon Clone"
tags: []
content: '''
  # Amazon Clone
  ---
  ##### Build Guide
'''
linesHighlighted: []
isStarred: false
isTrashed: false
