createdAt: "2020-09-12T02:04:58.160Z"
updatedAt: "2020-09-12T02:05:21.675Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "Google Clone"
tags: []
content: '''
  # Google Clone
  ---
  ## Build List
'''
linesHighlighted: []
isStarred: false
isTrashed: false
