createdAt: "2020-09-12T02:06:58.030Z"
updatedAt: "2020-09-12T02:07:10.576Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "YouTube Clone"
tags: []
content: '''
  # YouTube Clone
  ---
  ## Build List
'''
linesHighlighted: []
isStarred: false
isTrashed: false
