createdAt: "2020-09-12T02:06:17.842Z"
updatedAt: "2020-09-12T02:06:30.899Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "Zoom Clone"
tags: []
content: '''
  # Zoom Clone
  ---
  ## Build List
'''
linesHighlighted: []
isStarred: false
isTrashed: false
