createdAt: "2020-09-12T02:08:31.620Z"
updatedAt: "2020-09-12T02:08:31.620Z"
type: "MARKDOWN_NOTE"
folder: "908887bc17d3585507b5"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
