createdAt: "2020-09-10T00:17:45.820Z"
updatedAt: "2020-09-10T00:17:45.820Z"
type: "MARKDOWN_NOTE"
folder: "585cb85d247dd8d2b998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
