createdAt: "2020-09-10T00:17:31.612Z"
updatedAt: "2020-09-11T22:44:29.955Z"
type: "MARKDOWN_NOTE"
folder: "40f98fa2d867d5ea49d3"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
