createdAt: "2020-09-12T02:05:25.955Z"
updatedAt: "2020-09-12T02:05:42.562Z"
type: "MARKDOWN_NOTE"
folder: "91c2a80b3db5ad742b1a"
title: "Twitter Clone"
tags: []
content: '''
  # Twitter Clone
  ---
  ## Build List
'''
linesHighlighted: []
isStarred: false
isTrashed: false
