createdAt: "2020-09-10T00:17:37.843Z"
updatedAt: "2020-09-10T00:17:37.843Z"
type: "MARKDOWN_NOTE"
folder: "c05906b79c328f8fc489"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
