createdAt: "2020-09-12T17:42:29.110Z"
updatedAt: "2020-09-12T17:49:07.222Z"
type: "MARKDOWN_NOTE"
folder: "085c87f86fd3bc6d1d2b"
title: "GitHub"
tags: []
content: '''
  # GitHub
  ---
  ##### Tasks
  [Basic Git commands - Atlassian Documentation](https://confluence.atlassian.com/bitbucketserver/basic-git-commands-776639767.html)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
